.cart-offcanvas .cart-item {
    border-bottom: 1px solid var(--color-febd69);
    padding: 15px 0;
}
.cart-offcanvas .cart-item img {
    width: 70px;
    display: block;
    margin: 0 10px;
}
.cart-offcanvas .offcanvas-body .delete-btn {
    cursor: pointer;
}
.cart-offcanvas .offcanvas-body a {
    background-color: var(--color-49455b);
}
.cart-offcanvas .offcanvas-body a:focus {
    background-color: var(--color-febd69);
}
