/* start header  */
.first-header {
    background-color: var(--color-2b273e);
    color: white;
    border-bottom: 1px solid #ffffff8f;
}

.second-header {
    background-color: var(--color-2b273e);
    color: white;
}

.second-header .search-span {
    border-radius: 0 8px 8px 0;
    background-color: var(--color-febd69);
}
.second-header nav {
    background-color: var(--color-2b273e) !important;
}
.second-header nav * {
    color: white;
}
@media (min-width: 1400px) {
    .second-header nav li {
        width: 20%;
    }
}
@media (min-width: 460px ) and (max-width: 992px){
    .second-header nav ul {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .second-header nav li {
        width: 50%;
    }
}
.third-header {
    background-color: var(--color-49455b);
    color: white;
}


/* end header  */