/* start header  */
.first-header {
    background-color: var(--color-2b273e);
    color: white;
    border-bottom: 1px solid #ffffff8f;
}

.second-header {
    background-color: var(--color-2b273e);
    color: #ffffff;
}
@media (max-width: 992px) {
    .second-header .search-col {
        display: none;
    }
}
.second-header .search-span {
    border-radius: 0 8px 8px 0;
    background-color: var(--color-febd69);
}
.second-header .cart-icon,
.second-header .bar-icon {
    background-color: transparent;
    border: none;
}
.second-header .cart-icon .badge {
    top: -5px;
    right: -10px;
}
.second-header .wishlist .badge {
    top: -5px;
    left: -10px;
    background-color: var(--color-febd69) !important;
}
@media (min-width: 768px) {
    .second-header .bar-icon {
        display: none;
    }
    .second-header .site-title {
        margin: 0 !important;
    }
}
.second-header ul {
    list-style: none;
}
.second-header ul li {
    margin: 0 10px;
}
@media (max-width: 576px) {
    .second-header .list-item p {
        display: none;
    }
}
.third-header {
    background-color: var(--color-49455b);
    color: white;
}
.third-header .dropdown ul.show {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 60vw;
}
.third-header .dropdown ul li.category-item {
    padding: 10px;
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}
.third-header .dropdown-menu {
    background-color: var(--color-2b273e) !important;
}
@media (max-width: 768px) {
    .third-header {
        display: none;
    }
}
/* end header  */