/* start featured products */
.featured-product {
    box-shadow: 0px 0px 16px -7px gray;
    overflow: hidden;
    background-color: white;
  }
  .featured-product .product-image {
    height: 350px;
    width: 85%;
    display: block;
    margin: auto;
  }
  .featured-product .details {
    height: 100px;
    overflow: hidden;
  }
  .featured-product .product-category {
    color: var(--color-db5807);
  
  }
  .featured-product .wish-icon {
    right: 3%;
  }
  .featured-product .icons {
    top: 8%;
    right: -20%;
    transition: .5s;
  }
  .featured-product:hover  .icons {
    right: 3%;
  }
  .featured-product .add-to-cart {
    background-color: var(--color-febd69);
    font-size: 13px;
  }
  /* end featured products */