/* start featured products */
.featured-product {
    box-shadow: 0px 0px 16px -7px gray;
    overflow: hidden;
    background-color: white;
  }
  .featured-product .product-brand {
    color: var(--color-db5807);
  
  }
  .featured-product .wish-icon {
    top: 5%;
    right: 5%;
  }
  .featured-product .icons {
    top: 12%;
    right: -20%;
    transition: .5s;
  }
  .featured-product:hover  .icons {
    right: 5%;
  }
  .featured-product .add-to-cart {
    background-color: var(--color-febd69);
    font-size: 13px;
  }
  /* end featured products */