.product-page .mySwiper {
    height: 500px;
    margin-bottom: 5px;
}
.product-page .mySwiper img {
    width: 80%;
    height: 80%;
    display: block;
    margin: auto;
}
.product-page .mySwiper2 .swiper-wrapper .swiper-slide img {
    width: 100%;
}
.product-page .swiper-button-prev ,
.product-page .swiper-button-next {
    color: black;
}