
/* start special products */
.special-product {
    box-shadow: 0px 0px 16px -7px gray;
    background-color: white;
  }
  .special-product .brand {
    color: var(--secondary-color);
  }
  .special-product .price span {
    color: red;
  }
  .special-product button {
    background-color: var(--main-color);
  }
  /* end special products */