
/* start special products */
.special-product {
    box-shadow: 0px 0px 16px -7px gray;
    background-color: white;
  }
  .special-product .brand {
    color: #cd7d05;
  }
  .special-product .price span {
    color: red;
  }
  .special-product button {
    background-color: #2b273e;
  }
  /* end special products */