.gap-10 {
    gap: 10px ;
  }
  .gap-15 {
    gap: 15px
  }
  /* start banner  */
  .banner-content {
    top: 10%;
    left: 5%;
  }
  .banner-content p:nth-child(1) {
    color: var(--color-db5807);
  } 
  .banner-content button, 
  .banner-content button:hover {
    background-color: var(--color-2b273e);
  }
  .secondary-banner h2 {
    font-size: 22px;
  }
  /* end banner  */
  .categories .category {
    background-color: white;
  }
  @media (max-width: 576px) {
    .categories .category {
      width: 75%;
      margin: auto;
    }
    
  }
  .categories .row,
  .marquee .row {
    box-shadow: 0 0 17px -7px gray;
  }
.popular-products .product-offer {
  height: 97% !important;
}
.featured-collection .swiper-free-mode > .swiper-wrapper {
  margin-bottom: 25px;
}
.featured-collection .store-btn {
  background-color: var(--color-febd69);
}
