.main-filter {
    display: none;
}
.main-content {
    box-shadow: 0 0 17px -7px gray;
}
.main-content .heading div:last-of-type {
    width: 125px;
}
@media (max-width: 768px) {
    .main-filter {
        display: block !important;
    }
    .sidebar-column {
        display: none;
    }
    .products-list-column {
        width: 100%; 
    }
}