* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --color-2b273e : #2b273e;
  --color-49455b: #49455b;
  --color-db5807: #db5807;
  --color-febd69: #febd69;
}
a {
  text-decoration: none;
  color: white;
}
body {
  background-color: #d2d2d24d;
}
section.banner {
  background-color: white;
}

/* start popular products */
.popular-products .categories {
  box-shadow: 0px 0px 16px -7px gray;
  background-color: white;
}
.popular-products .categories .category img {
  width: 35%;
}
.popular-products .categories .category .active {
  font-weight: bold;
}
/* end popular products */




